@import url('../../../vendor/Inter\ \(web\ hinted\)/inter.css');

.place__title {
    align-self: end;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 65px;
    color: #FFFFFF;
    margin:72px 0 0 0;
}

@media screen and (max-width:1279px) {
    .place__title {
        margin:82px 0 0 0;
 }
}

@media screen and (max-width:1023px) {
    .place__title {
        font-size: 42px;
        line-height: 46px;
 }
}


@media screen and (max-width:767px) {
    .place__title {
        font-size: 32px;
        line-height:35px;
        margin:48px 0 0 16px;
        
 }
}


