@import url('../../../vendor/Inter\ \(web\ hinted\)/inter.css');
@import url('../__text/_type/intro__text_type_main-text.css');
@import url('../__text/_type/intro__text_type_main-text-author.css');
@import url('../__text/_type/intro__text_type_list.css');
@import url('../__text/_type/intro__text_type_list-item.css');

.intro__text {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #FFFFFF;
    
}

