@import url('../../../vendor/Inter\ \(web\ hinted\)/inter.css');

.cover__title {

    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 78px;
    text-align: center;
    color: #FFFFFF;
    margin: 274px 0 134px 0;
    z-index: 2;
    opacity: 1;
}

@media screen and (max-width:1279px) {
    .cover__title {
        max-width: 520px;
        margin: 211px 0 66px 0;
    }

}

@media screen and (max-width:1023px) {
    .cover__title {

        margin: 165px 0 45px 0;
    }

}

@media screen and (max-width:767px) {
    .cover__title {
        max-width: 250px;
        font-size: 32px;
        line-height: 35px;
        margin: 104px 0 7px 0;
    }

}

@media screen and (max-width:374px) {
    .cover__title {
        max-width: 230px;
        margin: 64px 0 7px 0;
    }

}