.video__container {
    width: 1184px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 323px;
    grid-column-gap: 18px;
    justify-content: center;


}

@media screen and (max-width:1279px) {
    .video__container {
        width: calc(100% - 96px);
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 288px;
        grid-column-gap: 16px;
    }
}

@media screen and (max-width:1023px) {
    .video__container {
        width: calc(100% - 48px);
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 200px;
        grid-column-gap: 16px;

    }
}

@media screen and (max-width:767px) {
    .video__container {
        width: calc(100% - 32px);
        grid-template-columns: 343px;
        grid-template-rows: 200px 200px;
        grid-row-gap: 8px;

    }
}

@media screen and (max-width:374px) {
    .video__container {
        width: calc(100% - 32px);
        grid-template-columns: 288px;
        grid-template-rows: 192px 192px;
        grid-row-gap: 8px;

    }
}